@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
    background-color: white;
    color: black;
    overflow: scroll;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none; /* For Webkit browsers (Chrome, Safari) */
  }
.rootseekBg {
    background-color: white;
}

.btn {
    /*linear-gradient(45deg,rgb(3, 79, 154), #0099cc, #00bcd4)*/
    background: linear-gradient(45deg, #0077b6, #00b4d8, #90e0ef);
    color: white;
}
