@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
    background-color: white;
    color: black;
    overflow: scroll;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none; /* For Webkit browsers (Chrome, Safari) */
  }

.rootseekBg {
    background-color: white;
    /*background: linear-gradient(135deg, #0D0D0D, #1A1A1A);*/
}
