@import "tailwindcss";

body {
    background-color: black;
    color: white;
    overflow: scroll;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none; /* For Webkit browsers (Chrome, Safari) */
  }

.rootseekBg {
    background: linear-gradient(135deg, #0D0D0D, #1A1A1A);
}